.app-glossary4 {
  .navbar-collapse {
    padding: 0;
  }
  
  .app-glossary4-letterlist {
    display: block;
    padding: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #576066;
    width: 100%;
    margin-top: 40px;
  }
  
  .app-glossary4-letterlist li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
  }
  .app-glossary4-letterlist > li > a {
    padding: 8px 6px;
    color: #576066;
    font-weight: bold;
    cursor: pointer;
  }
  
  .app-glossary4-letterlist > li > a:hover,
  .app-glossary4-letterlist > li > a:focus,
  .app-glossary4-letterlist > li > a:active {
    background-color: #ccc;
    color: #576066;
  }
  .app-glossary4-item-wrapper {
    margin-bottom: 45px;
  }
  .app-glossary4-terms p {
    margin: 0;
  }
  .app-glossary4-single-term {
    margin: 0 0 15px 0;
  }
  span {
    display: none;
  }
  .app-glossary4-toggle {
    position: relative;
    top: 4px;
  }
  
  @media (max-width: 768px) {
    .app-glossary4-letterlist {
      margin-top: 15px;
    }
    .app-glossary4-manage-terms,
    .app-glossary4-manage-app {
      display: none !important;
    }
  
    .navbar-collapse {
      padding: 0 15px;
    }
    .navbar-default {
      border-top: 1px solid #576066;
      border-bottom: 1px solid #576066;
      margin-top: 15px;
      padding: 12px 0;
    }
    .navbar-default .navbar-header {
      cursor: pointer;
    }
    .app-glossary4-terms h2 {
      font-size: 28px;
    }
    span {
      font-weight: bold;
      display: inline-block;
    }
    .app-glossary4-letterlist > li {
      display: block;
      width: 25%;
      float: left;
    }
    .app-glossary4-letterlist {
      border-top: none;
      border-bottom: none;
    }
    .app-glossary4-letterlist li:first-child {
      margin: 0;
    }
    .app-glossary4-letterlist:before {
      display: none;
    }
    .app-glossary4-toggle {
      display: block;
      float: right;
      border-top: 1px solid inset #ccc;
      position: relative;
      right: 9px;
    }
  
    .app-glossary4-toggle:before {
      border-bottom: 3px solid #576066;
      text-indent: -9999px;
      display: block;
      content: " ";
      width: 20px;
      height: 10px;
      position: absolute;
    }
    .app-glossary4-toggle:after {
      border-bottom: 3px solid #576066;
      border-top: 3px solid #576066;
      text-indent: -9999px;
      display: block;
      content: " ";
      width: 20px;
      height: 17px;
    }
  }
}
